/.metadata/
/mkl0/
/SolderingStation.old/
/TeensyInterface/
/xx/
/Board_Test/
/TestADC/
/TestCyclePWM/
/TestOled/
/TestEncoder/
/stm32/
/mk22fx512/
/MK22FX512A/
/frdmk22f/
/SolderingStation.Backup/
/delme/
/SolderingStation_MK22FX/
/PackageFiles/
/CallbackTests/
/delme2/
/FRDM_K20D50M/
/FRDM_KL25Z/
/FRDM_KL25Z (copy)/
/SolderingStation_V3 (copy)/
/SolderingStation_V3_ref/
/TestAnonymous/
